<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/styles/styles.css" />

</head>
<body>
  <div id="content">
    {% include './templates/answer_notification_shoppers' %}
  </div>

  <div id="footer">
    {% include './snippets/footer' %}
  </div>
</body>
</html>
