{% if unsubscribe_url %}
    <div class="unsubscribe p1">
        To unsubscribe click {{ 'here' | link_to: unsubscribe_url }}
    </div>
{% endif %}

{% if white_label != null %}
    <div class="powered-by p1">{{ 'POWERED BY YOTPO' | link_to: powered_by_url }}</div>
{% endif %}
